<!---------------------- Main container  ---------------------->
<div class="container p-4 text-center vh-100">
  <!-- welcome container -->
  <div class="w-75 h-25 mx-auto d-flex align-items-center">
    <div class="row">
      <h1 class="mx-auto">welcome !</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
      </p>
    </div>
  </div>
  <hr class="w-25 mx-auto my-4" />
  <!-- about container -->
  <div class="container-md h-50 p-2 d-flex align-items-center">
    <div class="h-100 row bg-light border p-4">
      <div class="col-md-6 text-center my-auto">
        <img
          src="https://previews.123rf.com/images/triken/triken1608/triken160800029/61320775-male-profil-offline-domy%C5%9Blny-awatar-u%C5%BCytkownika-awatar-go%C5%9B%C4%87-g%C5%82owica-prostu-cz%C5%82owiekiem-ilustracja-we.jpg"
          class="w-50"
        />
      </div>
      <div class="col-md-6 text-center my-auto">
        <h2>About me</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          facilisis, ante fermentum dapibus ornare, nibh lorem scelerisque
          lectus, sed sagittis leo urna sit amet justo. Ut bibendum sodales
          turpis, ut hendrerit libero aliquam vitae.
        </p>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary my-4">Continue</button>
</div>
